dimension		3
units			lj
atom_style		hybrid sphere dipole
boundary		p p p

_DATA FILE PLACEHOLDER_

group		mem			type 1
group		vehicle		type 2
_LIGAND GROUP PLACEHOLDER_
_NANOPARTICLE GROUP PLACEHOLDER_

velocity	np	set 0 0 -2

#membrane parameters
variable	rc			equal	2.6
variable	rmin		equal	1.122462
variable	mu			equal	3
variable	zeta		equal	4
variable	eps			equal	4.34
variable	sigma		equal	1.00
variable	theta0_11	equal	0

pair_style	hybrid		membrane ${rc}	lj/cut 5.04

#membrane-np interactions
pair_coeff		*	*	lj/cut	0.0	0.0	0.0
pair_coeff		1	2	lj/cut	100	4.0	4.45
_LIGAND MEMBRANE INTERACTIONS PLACEHOLDER_
pair_modify		pair 	lj/cut	shift yes

#membrane-membrane interactions
pair_coeff		1	1	membrane ${eps} ${sigma} ${rmin} ${rc} ${zeta} ${mu} ${theta0_11}

neigh_modify	every 1	delay 1	exclude group np np

fix			fLANG		all		langevin 1.0 1.0 1.0 1000 zero yes
fix			fNPH		mem		nph/sphere	x 0.0 0.0 10.0	y 0.0 0.0 10.0	couple xy	update dipole
fix_modify	fNPH	press thermo_press
fix			fRIGID		np		rigid/nve	group 1 np

compute 1 all pair lj/cut epair
compute cls all cluster/atom 1.5

_MOLECULAR DYNAMICS DUMP PLACEHOLDER_

thermo_style	custom	step pe ke etotal

_TIMESTEP PLACEHOLDER_
thermo         100
_RUNTIME PLACEHOLDER_